# Mandatory info for starting the app
REACT_APP_MORALIS_APPLICATION_ID = 2bqRjLZrJdxzs2V2TIjPwO1M9yr6v9f2knMbnP0d
REACT_APP_MORALIS_SERVER_URL = https://cahuksmbh1fn.usemoralis.com:2053/server

# Optional info for connecting your localChain and Moralis Database
moralisApiKey = xxxxx
moralisApiSecret = xxxxxxx
frpcPath = F:\frpc\frpc.exe
chain = ganache
moralisSubdomain = xxxxxxx.usemoralis.com
abiPath = "F:\ethereum-boilerplate\Truffle\build\contracts\Contract.json"
